# DATABASE

POSTGRES_PORT = 5432
POSTGRES_USER = postgres
POSTGRES_PASSWORD = timescale
POSTGRES_DB = e-stack

# DB-MIGRATIONS

DB_USER = james_prescott_joule
DB_USER_PASSWORD = super_secret_password
POSTGRES_HOST = db
SCHEMA_NAME = energy

# DB-INTERFACE

PG_DB_URI = postgresql://${DB_USER}:${DB_USER_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
PGRST_ADMIN_SERVER_PORT = 3001
PGRST_SERVER_PORT = 3000
PGRST_DB_SCHEMAS = ${SCHEMA_NAME}
PGRST_DB_EXTRA_SEARCH_PATH = ${SCHEMA_NAME}
PGRST_DB_ANON_ROLE = ${DB_USER}